<h4><strong>Nosso Site:</strong></h4>
<p>O site funciona como uma plataforma de compra de produtos.</p>
<br />

<h2>Fale Conosco</h2>
<h3>Entre em contato pelos meios abaixo:</h3>

<strong>Telefone</strong><br>
<p>
    (00) 1234-5678
</p>
<br>
<strong> E-mail </strong>
<br>
<p>
    email@email.com.br
</p>
<br />
<br />

<h3><strong>Feito por:</strong></h3>
<p>Jhonatan Candido Matos</p>
<p>RA: 082170016</p>
<p>EC 5</p>
