
/*div {    
    background-color: gray;   
}

label, input {
    display: inline-block;
    vertical-align: middle;
 }


 */
 h2{
     text-align: center;
     color: white;
 }
 table{
     background: gray;
 }

 input{
     color: green;
 }